@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #bbebeb;
  --color-primary-h1: #b7e5e5;

  --color-background: #fdfdf6;
  --color-background-h1: #ebefe2;
  --color-background-h2: #dee2d5;

  --color-border: #888;

  --transition-duration: 250ms;
}

[data-theme="dark"] {
  --color-primary: #bbebeb;
  --color-primary-h1: #b7e5e5;

  --color-background: #1a1c18;
  --color-background-h1: #272e23;
  --color-background-h2: #333a2f;

  --color-border: #c4c8bb;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: "Source Sans 3", sans-serif;

  background: var(--color-background);
  color: #000;
  fill: #000;
}

body[data-theme="dark"] {
  color: #fff;
  fill: #fff;
}

header {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

main {
  flex: 1;

  display: grid;
  place-content: center;

  text-align: center;
}

h1 {
  margin-top: 0;
  margin-bottom: 1rem;

  font-size: 3rem;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

button,
.button {
  margin: 0;
  padding: 1rem;
  gap: .5rem;

  display: inline-flex;
  align-items: center;

  background: var(--color-background-h1);
  border: none;
  border-radius: 1rem;

  font-size: inherit;
  color: inherit;
  text-decoration: none;

  cursor: pointer;
  transition: background var(--transition-duration);

  &.primary {
    background: var(--color-primary);

    &:hover {
      background: var(--color-primary-h1);
    }
  }

  &.circle {
    width: min-content;
    aspect-ratio: 1 / 1;

    background: none;
    border: 1px solid var(--color-border);
    border-radius: 50%;
  }

  &:hover {
    background: var(--color-background-h2);
  }

  &#counter {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;

    &:hover {
      border-color: #646cff;
    }

    &:focus,
    button:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }
}

svg-img {
  display: inline-flex;
}